
	@font-face {
  		font-family: 'Eurostile';
		src: 	url('http://unclebucks.co/fonts/2FF03E_0_0.eot'); /* IE9 Compat Modes */
		src: 	local('Eurostile'),
				url('http://unclebucks.co/fonts/2FF03E_0_0.eot?#iefix') format('embedded-opentype'), 	/* IE6-IE8 */
	     		url('http://unclebucks.co/fonts/2FF03E_0_0.woff2') format('woff2'), 					/* Super Modern Browsers */
	     		url('http://unclebucks.co/fonts/2FF03E_0_0.woff') format('woff'), 						/* Pretty Modern Browsers */
	     		url('http://unclebucks.co/fonts/2FF03E_0_0.ttf')  format('truetype'); 					/* Safari, Android, iOS */
	}

	h1,h2,h3,
	.btn-category,
	.btn-ub,	.btn-ub-inverse,  .btn-flag,						/* ub styled buttons */
	.toggle-off,    .toggle-on,										/* contact toggle switches */
	.navbar-nav > li > a, 											/* navbar */
	.dashboard-splash,     .dashboard-label,     .btn-dashboard		/* user dashboard text & buttons */
	.expiration-hdr,												/* expiration overlay header */
	.item-heading, .item-price,
	#tagline,														/* header tagline */
	a.contact-link-email, a.contact-link-phone, a.contact-link-sms,
    .btn-nav,
    .attention                                                      /* attention-grabbing span in resources */
	{
		font-family: 'Eurostile', sans-serif;

	}
