@CHARSET "ISO-8859-1";

*, *:before, *:after {box-sizing:  border-box !important;}



/*   ISOTOPE CSS  */
.grid-sizer,
.grid-item { 
	width: 49%; 
	margin-bottom: 0.3em;
}

.gutter-sizer { 
	width: 0.3em 
}




	@media (min-width: 480px) {
		.grid-sizer,
		.grid-item { 
			width: 49.5%; 
		}
	}


	@media (min-width: 600px) {
		.grid-sizer,
		.grid-item { 
			width: 32.9%; 
		}
	}
	
	
	@media (min-width: 992px) {
		.grid-sizer,
		.grid-item { 
			width: 32.9%; 
		}

	}
	
	
	@media (min-width: 1200px) { 
	/*@media (min-width: 1400px) {*/
		.grid-sizer,
		.grid-item { 
			width: 24.6%; 
		}

	}

	/*@media (min-width: 1400px) { */
	@media (min-width: 1600px) {
		.grid-sizer,
		.grid-item { 
			width: 19.6%; 
		}

	}
	
	
	@media (min-width: 1900px) {
		.grid-sizer,
		.grid-item { 
			width: 16.4%; 
		}

	}
	
	
	#no_more_items > h3,
	#spinner {
		margin-top: 40px;
		text-align: center;
	}


/******** LEGACY MASONRY CSS **********/

.filter-options{
	margin: 0 -15px;
}
