@CHARSET "ISO-8859-1";

*, *:before, *:after {box-sizing:  border-box !important;}


.filter-options{
	margin: 0 -15px;
}


.row-masonry {
 -moz-column-width: 16em;
 -webkit-column-width: 16em;
 column-width: 16em;
 -moz-column-gap: 0.1em;
 -webkit-column-gap:0.1em; 
 column-gap: 0.1em;
}

	@media (max-width: 700px) {
		.row-masonry {
			-moz-column-width: 12em;
		 	-webkit-column-width: 12em;
		 	column-width: 12em;
		}
	}
	@media (max-width: 400px) {
		.row-masonry {
			-moz-column-width: 10em;
		 	-webkit-column-width: 10em;
		 	column-width: 10em;
		}
	}

.item-masonry {
 display: inline-block;
 padding:  .2rem;
 width:  100%; 
}

.well-masonry {
 position:relative;
 display: block;
 padding: 0px;
 margin: 0;
 border: 2px solid #3d3d3d;  
 border-radius: 8px;  
 cursor:pointer;
 background: #000000;
}
	
	.well-masonry > h3, 
	.well-masonry > h3 > a {
		padding: 0 6px;
		margin-top: 8px;
		margin-bottom: 6px;
		text-align: right;
		color: #ffffff;
	}
	
	@media (max-width: 768px) { 
		.well-masonry > h3, 
		.well-masonry > h3 > a {
			padding-right: 2px;
			font-size: 14pt;
		}
		
}
	
	
	
	
.price {
	font-size: 1.8em;
	float: right;
	padding-top: 2px;
	padding-left: 4px;
	padding-right: 6px;
}

.photo-container{
	overflow: hidden;	/* used with grow class */
	
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.photo-masonry{
	
	width: 100%;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;	
	
	overflow: hidden;
}



.contact-model-dialog
	margin-top: 300px;
}


@media (min-width: 768px) { 
	
	.container-masonry{
		padding: 0 0px; 	/* match with header's .logo */
		margin-top: -40px;
		
		margin-bottom: 40px;
	}
	
	.contact-modal-dialog{
		margin-top: 100px;
	}	
	
}

@media (min-width: 992px) {
	
	.container-masonry{
		padding: 0 20px; 	/* match with header's .logo */
		margin-top: -40px;
		
		margin-bottom: 40px;
	}
	
	.contact-modal-dialog{
		margin-top: 200px;
	}
	
}

@media (min-width: 1200px) {
	
	.container-masonry{
		padding: 0 70px; 	/* match with header's .logo */
		margin-top: -40px;
		
		margin-bottom: 40px;
	}
	
	.contact-modal-dialog{
		margin-top: 300px;
	}
	
}
	
	
	