
/* ============================================================
  GLOBAL
============================================================ */
/*
.effects {
  padding-left: 15px;
}
.effects .img {
  position: relative;
  float: left;
  margin-bottom: 5px;
  width: 25%;
  overflow: hidden;
}
.effects .img:nth-child(n) {
  margin-right: 5px;
}
.effects .img:first-child {
  margin-left: -15px;
}
.effects .img:last-child {
  margin-right: 0;
}
.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}
*/

.effects {
	
}
.effects .img {
  position: relative;
  overflow: hidden;
}

.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}


/* UB-122 Display Expiration Details for My Items */
.expiration_overlay{
	display: block;
  	position: absolute;
  	z-index: 19;
  	/*overflow: hidden;*/
  	cursor: default;
  	top: 0;
	width: 100%;
	/*height: 30px;*/
}
	.expiration-hdr{
		margin: 3px 5px;
		text-align: center;
	}
/* end UB-122 Display Expiration Details for My Items */


.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  
  cursor: default;
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 30px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 36px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  width: 60px;
  height: 60px;
  border: solid 5px #fff;
  text-align: center;
  color: #fff;
  line-height: 50px;
  font-weight: 700;
  font-size: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}




/* glyphicon styles */

.overlay-top {
	margin-left: 6px;
}

.overlay-content{
	margin-left: 6px;
	margin-right: 6px;
	color: #ffffff;
	
	line-height: 1.0em;
	
	max-height: 4.0em;
	overflow: hidden;
}

.item-title{
	
	color: #ffffff;	
	/* margin-top: 6px; */
	margin-bottom: 6px;
	margin-right: 26px;
	
	max-height: 2.0em; 

	overflow-y: hidden;
	
	
	margin-top: 2px;
	line-height: 1.0em;
}

.overlay-contact{
	position: absolute;
	bottom: 76px;
	left: 0px;
	width: 100%;
	
	text-align: center;
	color: #ffffff;
}
	a.contact-link-phone,
	a.contact-link-sms,
	a.contact-link-email,
	a.contact-link,
	i.contact-link{
		color: #ffffff;
		font-size: 18pt;
	}
	a.contact-link-email{
		font-size: 18pt;
	}
	
	a.contact-link:hover,
	a.contact-link-phone:hover,
	a.contact-link-sms:hover,
	a.contact-link-email:hover{
		color: #aaa;
		transition: color 0.3s ease 0s;
	}


.overlay-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 54px;
}

	
.contact-icon {
	width: 25%;
	float: left;
	text-align: center;
	color: #ffffff;
}
	
	.contact-disabled{
		color: #777 !important;
	}

	

 a.glyphicon-contact,
 i.glyphicon-contact {
	color: #ffffff;
	font-size: 30px;
	outline: 0;
	text-decoration: none;
}
/*
b.glyphicon{
	color: #777;
}
*/

	
a.glyphicon-contact:hover, 
a.glyphicon-contact:active,  
a.glyphicon-contact:focus,
i.glyphicon-contact:hover, 
i.glyphicon-contact:active,  
i.glyphicon-contact:focus
 {
	color: #aaa;
	transition: color 0.3s ease 0s;
}



h3.itemfav{
	float: left;
	color: #555555 !important; /*prevent glyphicon styles from overriding this*/
	font-size: 16pt !important; /*prevent glyphicon styles from overriding this*/
	padding-left: 12px;
	margin-bottom: 6px;
}
	
	h3.itemfav:hover{						/** added per UB-111 "Dull" non-favorited star **/
		color: #7a6504;
		transition: color 0.3s ease 0s;
	}

	h3.itemfav > .favorite{
		color: #e0ba08;
	}
		h3.itemfav > .favorite:hover{		/** added per UB-111 "Dull" non-favorited star **/
			color: #8e7605;
			transition: color 0.3s ease 0s;
		}



	
	@media (min-width: 1900px){
		.item-title{
			margin-top: 4px;
			margin-bottom: 6px;
		}
		
		.overlay-contact{
			height: 50px;
		}
	}


	@media (max-width: 1400px) { 
		.item-title{
			font-size: 18pt;
			margin-top: 2px;
			margin-bottom: 0px;
			max-height: 2.0em;
		}
		
		.overlay-contact{
			height: 50px;
		}
	
	}
	
	
	@media (max-width: 992px) { 
		.item-title{
			font-size: 18pt;
			margin-top: 6px;
			margin-bottom: 6px;
		}
	
	}
	
	@media (max-width: 768px) { 
			
				.item-title{
					font-size: 14pt;
					margin-top: 0px;
					line-height: 1.1em;
					max-height: 2.4em;
					margin-right: 16px;
				}
				
				a.close-overlay{
					top: -10px;
					right: -6px;
				}
				
				
				.overlay-bottom {
					height: 50px;
				}
			
				.contact-icon{
					font-size: 9pt;
				}
				

				a.glyphicon-contact,
 				i.glyphicon-contact {
					font-size: 26px;
				}
				
				h3.itemfav{
					padding-left: 6px;
				}
				
				
				.overlay-contact{
					position: absolute;
					bottom: 54px;
					left: 0px;
					width: 100%;
					
					text-align: center;
					color: #ffffff;
					line-height: 1.2em;
				}
				a.contact-link-phone,
				a.contact-link-sms,
				a.contact-link-email,
				a.contact-link,
				i.contact-link{
					font-size: 15pt;
				}
				a.contact-link-email{
					font-size: 15pt;
				}
				
	
	}
	
	
	
	
		
		
	


/* ============================================================
  EFFECT 1 - SLIDE IN BOTTOM
============================================================ */
#effect-1 .overlay {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}
#effect-1 .overlay a.expand {
  left: 0;
  right: 0;
  bottom: 50%;
  margin: 0 auto -30px auto;
}
#effect-1 .img.hover .overlay {
  height: 100%;
}

/* ============================================================
  EFFECT 2 - SLIDE IN TOP
============================================================ */
#effect-2 .overlay {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}
#effect-2 .overlay a.expand {
  left: 0;
  right: 0;
  top: 50%;
  margin: -30px auto 0 auto;
}
#effect-2 .img.hover .overlay {
  height: 100%;
}

/* ============================================================
  EFFECT 3 - SLIDE IN LEFT
============================================================ */
#effect-3 .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
}
#effect-3 .overlay a.expand {
  top: 0;
  bottom: 0;
  left: 50%;
  margin: auto 0 auto -30px;
}
#effect-3 .img.hover .overlay {
  width: 100%;
}

/* ============================================================
  EFFECT 4 - SLIDE IN RIGHT
============================================================ */
#effect-4 .overlay {
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 100%;
}
#effect-4 .overlay a.expand {
  top: 0;
  bottom: 0;
  right: 50%;
  margin: auto -30px auto 0;
}
#effect-4 .img {
  overflow: hidden;
}
#effect-4 .img.hover .overlay {
  width: 100%;
}

/* ============================================================
  EFFECT 5 - ICON BORDER ANIMATE
============================================================ */
#effect-5 .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
#effect-5 .overlay a.expand {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#effect-5 .img.hover .overlay {
  opacity: 1;
}
#effect-5 .img.hover .overlay a.expand {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

/* ============================================================
  EFFECT 6 - ICON BOUNCE IN
============================================================ */
#effect-6 .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
#effect-6 .overlay a.expand {
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#effect-6 .img.hover .overlay {
  opacity: 1;
}
#effect-6 .img.hover .overlay a.expand {
  top: 50%;
  margin-top: -30px;
  opacity: 1;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Media Queries
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

/*
@media only screen and (max-width: 1100px) {
  .effects {
    padding-left: 5px;
  }
  .effects .img {
    width: 50%;
  }
  .effects .img:nth-child(n) {
    margin-right: 5px;
  }
  .effects .img:first-child {
    margin-left: 0;
  }
  .effects .img:nth-child(2n-1) {
    margin-left: -5px;
  }
  .effects .img:nth-child(2n) {
    margin-right: 0;
  }
  .effects .img:last-child {
    margin-right: 0;
  }
}

@media only screen and (max-width: 520px) {
  .effects .img {
    width: 100%;
  }
  .effects .img:nth-child(n) {
    margin-right: 0;
  }
  .effects .img:first-child {
    margin-left: 0;
  }
  .effects .img:nth-child(2n-1) {
    margin-left: 0;
  }
  .effects .img:nth-child(2n) {
    margin-right: 0;
  }
  .effects .img:last-child {
    margin-right: 0;
  }
  .effects .img img {
    margin: 0 auto;
  }
  
  */
  
}
