@CHARSET "ISO-8859-1";



.navbtn-filter, 
.navbtn-menu

{
	border-radius: 0;
}



.photo-container,
.photo-masonry

{
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.well-masonry {
	/* border: 0;  */   /* remove border */
	border-radius: 0;
}

.btn, .form-control {
	border-radius: 0;
}

.input-group-addon{
	border-radius: 0;
}

.panel-group .panel,
.panel-heading {
	border-radius: 0;
}