@CHARSET "ISO-8859-1";


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 260px;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
  

}

	


@media (min-width: 768px) {
	
	body {
	  /* Margin bottom by footer height */
	  margin-bottom: 200px;
	}
	
	
	.footer {
	  /* Set the fixed height of the footer here */
	  height: 120px;
	  padding: 20px;
	  text-align: left;
	}
	
	#footer-right{				/* match desktop-nav */
			padding-right: 40px;
			float: right;
			text-align: right;
		}
	
	
	ul.footer-list > li {
		position: relative;
		display: block;
		float: left;
		text-align: left;
	}
	
	ul.footer-list > li > a{
		padding: 10px 10px;
	} 
		
}
	@media(min-width:979px){}
		ul.footer-list > li > a{
			padding: 10px 20px;
		}
	} 
	
	@media (min-width: 1400px) {
		#footer-right{		/* match desktop-nav */
			padding-right: 40px;
		}
	}


