@CHARSET "ISO-8859-1";




/************************** Container Sizes **************************/

    @media (max-width: 480px){
        .col-xxs-12{
            width: 100%;
        }
    }


	@media (min-width: 992px) {
		/*
		.container{
			width: 900px;
		}
		*/
	}
	
	@media (min-width: 1200px) {
		.container {
		    width: 1170px;
		}
	}


	@media (min-width: 1400px) {
		.container{
			width: 1360px;
		}
	}
	
	@media (min-width: 1600px) {
		.container{
			width: 1560px;
		}
	}
	
	@media (min-width: 1800px) {
		.container{
			width: 1760px;
		}
	}
/************************** Container (END) **************************/


	@media (max-width: 600px) {
		h2{
			font-size: 26px;
		}
	}



/************************** GLOBAL STYLE **************************/
	body{
		
		background-color: #ffffff;
	}
	
	
	a{
		color: #000000;
	}
	
	a:hover,
	a:active,
	a:visited {
        text-decoration: none;
	}
	
	a:hover, a:active {
        color: #777;
	}
    
    a.underline{
        text-decoration: underline;
    }
	
	
	.text-danger{
		color: #D50000;
	}
	
	.text-warning{
	 	color: #FFA030;
	 }
	
	.bg-danger{
		background: #D50000;
		color: #ffffff;
	}
	
	.bg-warning{
		background: #FFA030;
		color: #ffffff;
	}
	
	.bg-success{
		background: #3C763D;
		color: #ffffff;
	}
	
	.bg-white{
		background: #ffffff;
		color: #000000;
	}
	
    .bg-zebra{
        background: #e3e3e3;
		color: #000000;  
    }
    
	.bg-ub-inverse{
		background: #000000;
		color: #ffffff;
	}
	
	
	.disabled{
		color: #999 !important;
		cursor: default;
	}
	
	.attention{
        font-weight: bold;
        font-size: 1.2em;
        line-height: 1.5em;
        /* Eurostile font set in fonts.css */
    }
	
	.no-margin-top{
		margin-top: 0px !important;
	}
	
    
    .border-danger{
		border: solid 3px #D50000;
        padding: 8px 15px;
	}
    
	/******** Buttons */	
		.btn-ub,
		.btn-ub-inverse,
		.navbtn-filter, 
		.navbtn-menu{
			background: #ffffff;
			color: #000000;
			border: 2px solid #000000;
			margin-bottom: 8px;
			font-size: 16pt;
		}
		.btn-ub:hover {
			background: #dedede;
			transition: all 0.3s ease 0s;
		}
		
		
		.btn-ub-inverse{
			background: #000000;
			color: #ffffff;
		}
		
		.btn-ub-inverse:hover {
			background: #555;
			color: #ffffff;
			transition: all 0.3s ease 0s;
		}
		
			
		.toggle.btn {
			width: 100% !important;
		}
	
	

		
		.btn-category,
		.btn-filter-options,
		.btn-dashboard,
		.btn-about,
        .btn-flag{
			background: #ffffff;
			color: #000000;
			border: none;
			text-align: left;
			font-size: 14pt;
			font-height: 1.2em;
			margin: 0 !important;
			
			padding: 3px 12px;
		}
		
		.btn-category:hover,
		.btn-filter-options:hover,
		.btn-filter-options.chosen,
		.btn-dashboard:hover,
		.btn-about:hover,
        .btn-flag:hover {
			background: #e8e8e8;
		}
		
		.btn-category-active{
			font-weight: bold;
		}
		
		.btn-dashboard{
			font-size: 18pt;
			margin-left: -8px !important;
			padding: 3px 40px;
		}
		
		
        
		
		
		@media (max-width: 480px) {
			.btn-filter-options{
				font-size: 11pt;
				padding: 3px 6px;
			}
			
		}
		
		
		@media (max-width: 400px) {
			.btn-filter-options{
				font-size: 12px;
				padding: 3px 3px;
			}
		}
		
		.btn-nav{
			background: #000000;
			color: #ffffff;
			border: none;
			text-align: center;
			font-size: 12pt;
			margin: 0 !important;
			
			padding: 3px 12px;
		}
		
		.btn-nav:hover{
			background: #2d2d2d;
			color: #ffffff;
		}
		
		
		
		
		/******* File Upload Button */ 
		 .input-group-ub{
			margin-left: -15px;
			margin-right: -15px;
		}
		    
		.btn-file {
		  position: relative;
		  overflow: hidden;
		}
		.btn-file input[type=file] {
		  position: absolute;
		  top: 0;
		  right: 0;
		  min-width: 100%;
		  min-height: 100%;
		  font-size: 100px;
		  text-align: right;
		  filter: alpha(opacity=0);
		  opacity: 0;
		  background: red;
		  cursor: inherit;
		  display: block;
		}
		input[readonly] {
		  background-color: white !important;
		  cursor: text !important;
		  border: 2px solid rgb(0, 0, 0);
		  padding: 2px;
		  height: 46px;
		  margin-left: -1px;
		}
		
		.photo-item-title{
			margin-top: 0px;
		}
		
		.current-photo{
			float: right;
			margin-top: 20px;
		}
			
		
		@media ( max-width: 992px ) {
			input[readonly] {
			  height: 47px;
			}
			
			.current-photo{
				margin: 0 auto;
				float: none;
				margin-top: 30px;
				margin-bottom: 40px;
			}
		}
		
		
		
		@media (max-width: 768px) {
			input[readonly] {
			  height: 46px;
			}
			
			.current-photo{
				margin-top: 30px;
				margin-bottom: 30px;
			}
		
		}
		
		
		@media (max-width: 380px) {
			input[readonly] {
			  height: 47px;
			}
			
		}
		
		
		
		/* File Upload Button (END) ********/ 
		
		
		
		
		
	/* Buttons ********/
	

/************************** GLOBAL STYLE (END) **************************/









/************************** HEADER **************************/

	
	#header-border{
    	border-bottom: solid 3px black;
     	margin-top: 4px;
    	margin-bottom: 0px;
    }
	
	@media (min-width: 992px) {
		#ub-logo,
		#header-border {   
			margin-left: 170px; /* #sidebar.width + aprox 30px */
		}
		
		#header-border{
			margin-right: 22px;
     		margin-top: 20px;
    		margin-bottom: 12px;
		}
		
		.logo{
			width: 340px;
		}
	}
	
	@media (min-width: 1200px) {
		#ub-logo,
		#header-border {
			margin-left: 178px; /* #sidebar.width + aprox 30px */
		}
		
		#header-border{
			margin-right: 32px;
			margin-bottom: 30px;
		}
		
		.logo{
			width: inherit;
		}
	
	}
	
	@media (min-width: 1400px) {
		#ub-logo,
		#header-border {
			margin-left: 175px; /* #sidebar.width + aprox 30px */
		}
	}
	
	@media (min-width: 1600px) {
		#ub-logo,
		#header-border {
			margin-left: 190px; /* #sidebar.width + aprox 30px */
		}
	}
	
	@media (min-width: 1800px) {
		#ub-logo,
		#header-border {
			margin-left: 205px; /* #sidebar.width + aprox 30px */
		}
		
		#header-border{
			margin-right: 32px;
		}
	}
	

/************************** HEADER (END) **************************/



/************************** NAVIGATION MENU **************************/
	
	
	#desktop-nav{
		margin-top: 60px;
		margin-right: 110px;
	}
	
	#mobile-navbar{
		margin-top: 0px;
	}
	
	
	#tagline{
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		background: #000000;
		color: #ffffff;
		text-align: center;
		
		font-size: 12pt;
	}
	
	.header-button{
		font-size: 0.8em;
	}
	
	@media (min-width: 480px) {
		#tagline{
			font-size: 17pt;
		}
		
		
		#mobile-navbar{
			margin-top: 6px;
		}
		
		.header-button{
			font-size: 1.3em;
		}
	}
	
	@media (min-width: 600px) {
		#tagline{
			font-size: 21pt;
		}
		
		#mobile-navbar{
			margin-top: 28px;
		}
		
		.header-button{
			font-size: 1.4em;
		}
	}
	
	@media (min-width: 768px) {
		#tagline{
			font-size: 21pt;
		}
			
		#mobile-navbar{
			margin-top: 38px;
		}
		
		.header-button{
			font-size: 1.6em;
		}
	}
	
	@media (min-width: 992px) {
		#tagline{
			position: absolute;
			top: 20px;
			left: -54px;
			width: inherit;
			
			background: none;
			color: #000000;
		
			text-align: right;
			font-size: 14pt;
		}
	}
	
	
	@media (min-width: 1200px) {
		#desktop-nav{
			margin-top: 90px;
		}
	
		#tagline{			//* use single line for wider screens */
			
			left: -40px;
			font-size: 14pt;
		}
	}
	
	
	@media (min-width: 1400px) {
		#desktop-nav{
			margin-right: 90px;
		}
		
		#tagline{
			
			left: 0px;
			font-size: 18pt;
		}
	}
	
		.navbar-nav > li > a {
			font-size: 14pt;
			font-height: 1.2em;
		}
		
		
	/******** Mobile Navigation Drpdown */
	
	.menu-content{
		padding: 0 15px;
		padding-bottom: 4%;
		margin: 0px;
	}	
		
		.menu-content{
			background: #ffffff;
			color: #000000;
		}
		
		ul.menu-content{
			list-style-type: none;
		}
		
		ul.menu-content > li{
			display: inline;
		} 
        
        ul.menu-content > li > a.btn-nav {      /* UB-202B Add a bit of spacing in mobile navbar */
            padding-bottom: 8px;
            font-size: 14pt;
        }
	/* Mobile Navigation Dropdown (END) ********/
	

/************************** NAVIGATION MENU (END) **************************/


/************************** SIDEBAR **************************/

	.keyword-spacer{
		margin-bottom: 12px;
	}

	/******** Affix Sidebar To Top During Scroll */	
		@media (min-width: 992px) {
		  #sidebar.affix-top {
		    position: static;
		  	margin-top:0px;
		  	/* width:160px; */
		  	width: 200px;
		  }
		  
		  #sidebar.affix {
		    position: fixed;
		    top:25px;
		    /* width:160px; */
		  	width: 200px;
		  }
		}
		
		.affix,.affix-top {
		   position:static;
		}
		/* Affix Sidebar To Top During Scroll ********/

/************************** SIDEBAR (END) **************************/



/************************** MOBILE DROPDOWN / SIDEBAR **************************/	
	#sidebar-mobile{
		margin: 10px 15px 10px;
	}

	.h-filter{
		margin-top: 0;
		margin-bottom: 6px;
	}
	
	#category-dropdown{
		padding-left: 9px;
	}


/************************** MOBILE DROPWDOWN / SIDEBAR (END) **************************/





/************************** MODAL **************************/

	.modal{
		margin-top:5%;
	}
	
	.modal-body{
		padding-top:15px; 
		padding-bottom:15px;
	}
	
	.modal-close {
		position: absolute; 
		right: 1px; 
		top: 1px;
	}
	
	.close {
		opacity: .6;
	}
	
	@media (max-width: 740px) {
		.modal{
			margin-top:0;
			padding-right: 0;
		}
		
		.modal-body{
			padding:10px;
			padding-bottom:0px;
		}
	
		.modal-close {
			position: absolute; 
		right: 15px; 
		top: 15px;
		}
		
		.modal-body > div > div > h3,
		.modal-body > div > div > h4 {
			font-size: 20px;
			margin-top:8px;
			margin-bottom: 2px;
		}
	
	}
		
/************************** MOBDAL (END) **************************/		

/************************** CONTENT **************************/
	#content{
		
	}
	
	@media (min-width: 992px) {
		#content{
			margin-left: 40px;
			margin-right: 20px;
		}
	}
	
	@media (min-width: 1200px) {
		#content{
			/* margin-left: 80px; */
			margin-left: 30px;
			margin-right: 30px;
		}
	}
	
	@media (min-width: 1400px) {
		#content{
			/* margin-left: 60px; */
			margin-left: 0px;
			margin-right: 30px;
		}
	}
	
	
	@media (min-width: 1600px) {
		#content{
			margin-left: -40px;
			margin-right: 30px;
		}
	}
	
/************************** CONTENT (END) **************************/



/************************** DASHBOARD **************************/

	
	
	
	h2.dashboard-title{
		padding-left: 30px;
	}
	
	ul.dashboard-list{
		padding-left: 50px;
	}
	
	.dashboard-splash{
		text-align: right;
		font-weight: strong;
		margin: 0px;
	}
	
	.dashboard-label{
		font-size: 16pt;
		padding-left: 0px;
		margin-left: -5px;
		padding-top: 2px;
	}
	
	.pad-map{
		padding-left: 7px;
	}
	
    
    .subscription_description{
        padding-top: 10px;
    }
	
	
	@media (max-width: 600px) {
		
		h3.welcome {
			margin-top: 10px;
		}
			
		.border-bottom{
			border-bottom: 2px solid #000000;
		}
	
		h2.dashboard-title{
			padding-left: 0px;
		}
	
	}
	
	
	@media (max-width: 600px) {
		.mobile-stretch{
			width:25%;
		}
		
		.mobile-shrink{
			width:75%;
		}
		
	}	
	
	@media(max-width: 768px){
		.pad-map{
			padding-left: 15px;
		}
	}
	
	
		
	

/************************** DASHBOARD (END) **************************/


/**********************************  ITEM  *****************************************/

#show-item{
	margin-top: 20px;
}

.item-photo{
	width: 100%;
	margin-bottom: 8px;	
}

.item-photo-thumbnail{
	width: 60px;
	height: 60px;
	margin-right: 12px;
}

.item-heading{
	
}
.item-heading, .item-heading > a {
	font-size: 22pt;
	font-style: strong;
	color: #333;
	margin-top: -5px; /* get vertical align-ment of text with photo */
	text-decoration: none;
	line-height: 1.0em;
}

.item-heading > a:hover {
	color: #777;
}

h4.item-brief{
	margin-top: 5px;
	margin-bottom: 5px;
}

.item-price {
	font-size: 20pt;
	margin-top: 10px;
}

.item-category {
	margin-top: 10px;
}

.item-description {
	margin-top:20px;
	margin-bottom: 20px;
}

.item-details-heading{
	text-align: center;
}



.category-group-box {
	border: 1px solid #333;
	padding: 10px;
	margin-bottom: 20px;
	
}
	.category-group-box >h3{
		margin-top: 0;
	}
/*
.item-category{
	background-color: #dedede;
	font-size: 16pt;
	color: #333;
	text-align: center;
	padding: 2px 3px;
	margin-bottom:8px;
}
*/

.item-list{
	margin-top: 12px;
	display:block;
}

h4.item-expires-at{
	padding-top: 16px;
	text-align: right;
}


.item-contact{
	
}

	#contact-dropdown{
		padding: 10px 16px; /* reduce left and right padding from 16px */
	}

	.contact-icon-sm{
		top: 3px;
		margin: 0 4px;
	}
	
	.contact-icon-left{
		margin-left: 20px;
	}
	

	.dropdown-block{
		width: 100% !important;
		margin: 0px;
		
		background-color: #ffffff;
		border: 2px solid black;
		border-top: none;
		border-radius: 0px;
		box-shadow: none;
	}
	
	.dropdown-block > li > a {
		margin: 0;
		text-align: center;
	}
	
	.dropdown-block > li {
		margin: 0;
		text-align: center;
		font-size: 14pt;
		font-family: Eurostile, 'Roboto', sans-serif;
	}
	
	
    
    
    
    
    
    
    
    
    h3.itemfav,                                 /** added per UB-150 Flag Item As Inappropriate **/
    h3.itemflag,
    h3.itemshare{
        float: left;
        color: #555555 ; /*prevent glyphicon styles from overriding this*/
        font-size: 16pt ; /*prevent glyphicon styles from overriding this*/
        padding-left: 12px;
        margin-bottom: 6px;
        font-size: 20pt;
    }
	
    /* fade to gold */
	h3.itemfav:hover{						    /** added per UB-150 Flag Item As Inappropriate **/
		color: #e0ba08; /* gold color */
		transition: color 0.3s ease 0s;
	}

	h3.itemfav > .favorite{
		color: #e0ba08;
	}
        /* fade back to gray */
		h3.itemfav > .favorite:hover{		    /** added per UB-150 Flag Item As Inappropriate **/
			color: #8e7605;
			transition: color 0.3s ease 0s;
		}


    h3.itemflag:hover{						    /** added per UB-150 Flag Item As Inappropriate **/
		color: #D50000;
		transition: color 0.3s ease 0s;
	}
    
     h3.itemshare:hover{						/** added per UB-150 Flag Item As Inappropriate **/
		color: #5bc0de;
		transition: color 0.3s ease 0s;
	}
   
    
    /*
    i.response-icon{
        float: left;
        color: #555555 ; /*prevent glyphicon styles from overriding this*
        font-size: 16pt ; /*prevent glyphicon styles from overriding this*
        padding-left: 12px;
        margin-bottom: 6px;
    }
	
	i.response-fav:hover{						/** added per UB-111 "Dull" non-favorited star *
		color: #7a6504; /* gray-gold color 
        color: #e0ba08; /* gold color 
		transition: color 0.3s ease 0s;
	}

	i.response-icon  i.favorite{
		color: #e0ba08;
	}
    
    i.response-fav i.favorite:hover{		/** added per UB-111 "Dull" non-favorited star *
        color: #8e7605;
        transition: color 0.3s ease 0s;
    }
    */
    
   
    
    
    
    
    
    
    
    
	.page-title{
		margin-top: -10px;
	}

	#back-to-my-items {
		position: relative;
		top: -30px;
	}
	
	
	.item-edit-row{
		clear: both;
		margin-top: 30px;
	}
	
	.item-edit-label{
		float:left;
		padding-right: 10px;
		padding-top: 3px;
	}
	
	h3.item-edit-header{
		margin-top: 0px;
		float: left;
	}
	
	@media (min-width: 992px) {
		#contact-dropdown{
			padding: 10px 8px; /* reduce left and right padding from 16px */
		}
	
		.contact-icon-left,
        .response-icon-left{
			margin-left: 6px;
		}
		
		.dropdown-menu > li > a {
			padding: 3px 0px; /* bootstrap default is 3px 20px */
		}
	}
	
	
	@media (max-width: 1200px) {
		#back-to-my-items {
			position: relative;
			top: -12px;
		}
	}
	
	


/*------------------------------  END ITEM  ---------------------------------------*/







/*-----------------------------   FLAG ITEM -------------------------------------*/

.flag-form{
    margin-top: 40px;
}

.flag-photo {
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
}



/*------- editing flagged item --------------*/
.section-flags{
    margin-bottom: 30px;
}
    .row-flag{
        padding: 5px 0px;
    }


@media(max-width: 992px){
    .flag-photo{
        margin-bottom: 20px;
        padding-right: 20px;
    }
}


@media(max-width: 776px){
    .flag-photo{
        margin-bottom: 20px;
        padding-right: 0px;
    }
}


/*-----------------------------     MAP    ---------------------------------------*/
	
	#address-results{
		margin-top: 0px;
	}
	
	.map_container{
	    position: relative;
	    width: 100%;
	    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
	}
	.map_container .map_canvas{
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    margin: 0;
	    padding: 0;
	}
	
	ul.about{
        padding-left: 30px; /* default is 40px; */
    }
	
        ul.about > li{
            margin-bottom: 8px;
            padding-left: 0px;
        }	
	
	.about-resources{
		width: 100%;
		margin: 20px 0px;
		display: block;
		text-align: center;
	}
	
	.btn-about{
		font-size: 12pt;
		padding: 3px 12px;
		
	}	
	


@media (min-width: 992px) {
	.about-resources{
		width: 100%;
		margin:40px 0px;
		display: block;
		text-align: center;
	}
	
	.btn-about{
		font-size: 10pt;
		padding:3px 6px;
	}
    
    ul.about{
        padding-left: 40px; /* default is 40px; */
    }
    
    ul.about > li{
        margin-bottom: 8px;
        padding-left: 10px;
    }

}
	
@media (min-width: 1200px) {
	.btn-about{
		font-size: 10pt;
		padding:3px 6px;
	}

}

@media (min-width: 1400px) {
	
	.btn-about{
		font-size: 12pt;
		padding:3px 12px;
	}
	
	
}




/********************* */

	.subscription_details{
		font-size: 24px;
		margin-top: 3px;
	}





.choose-payment{
	margin-top:40px;
}

	h3.panel-title,
	h3.panel-title a{
		font-size: 24px;
		margin-top:8px;
		margin-bottom: 2px;
		outline: 0;
		text-decoration: none;
	}
	h3.panel-title a:hover {
		color: #999;
	}
	
	h3.panel-title a:active {
		text-decoration: none;
	}
	
	.panel-ub{
		border-color: #000000;
	}
	
	.panel-ub > .panel-heading{
		color: #ffffff;;
		background-color: #000000;
		border-color: #000000;
	}
	
	.panel-body{
		background-color: #e8e8e8;
	}

.form-control-exp{
	
	/* display: block;*/
	width: 47%; 
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}




	/* CREDIT CARD DIV STYLES */
	
	.credit-card-div  span {
	    padding-top:10px;
	 }
	 
	.credit-card-div img {
	    padding-top:30px;
	}
	.credit-card-div .small-font {
	    font-size:9px;
	}
	.credit-card-div .pad-adjust {
	    padding-top:10px;
	}

