@CHARSET "ISO-8859-1";



/*
Text Color
	text:		#333
	text-alt: 	#777
	
Primary
	light	background-color: #337ab7;
	dark	background-color: #286090;
	
Success
	light	#5CB85C
	dark	#449D44
	
Info
	light	#5BC0DE
	dark	#31B0D5
	
Warning
	light	#F0AD4E
	dark	#EC971F
	
Danger
	light	#D9534F
	dark	#C9302C
	
Font Sizes
	h2: 	18pt;
	p: 		12pt	


	
*/








/* bootstrap 3 helpers */

.navbar-form input, .form-inline input {
	width:auto;
}










body{
	
	background-color: #ffffff;
}


a{
	color: #000000;
}


.bg-danger{
	background: #D50000;
	color: #ffffff;
}

.bg-warning{
	background: #FFA030;
	color: #ffffff;
}



a:hover,
a:active,
a:visited {
		text-decoration: none;
}

a:hover {
	color: #777;
}


.container-sidebar{
	width: 100%;
}
.container-content{
	width: 100%;
} 


.btn-ub,
.navbtn-filter, 
.navbtn-menu{
	background: #ffffff;
	color: #000000;
	border: 2px solid #000000;
	margin-bottom: 8px;
}
	.btn-ub:hover {
		background: #dedede;
		transition: all 0.3s ease 0s;
	}
	
		
	.toggle.btn {
		width: 100% !important;
	}
	

.btn-category{
	background: #ffffff;
	color: #000000;
	border: none;
	text-align: left;
	font-size: 12pt;
	margin: 0 !important;
	
	padding: 3px 0px;
}

.btn-category:hover{
	background: #e8e8e8;
}

.btn-category-active{
	font-weight: bold;
}

.

/*
	
.category-container, .panel-category{
	background: #d4d4d4;
}

.panel-category{
	margin: 0 !important;
	border-radius: 0 !important;
}


.btn-category-heading{
	background: #d4d4d4;
	border-radius: 0 !important;
	text-align: left;
	font-size: 18pt;
	margin: 0 !important;
}
.btn-category-heading:hover {
	background: #dedede;
}

.btn-category{
	background: #d4d4d4;
	color: black;
	border-radius: 0 !important;
	text-align: left;
	font-size: 12pt;
	margin: 0 !important;
	padding-left: 30px !important;
}

*/


	

/******************  Style File Upload Button *************************/ 
 .input-group-ub{
	margin-left: -15px;
	margin-right: -5px;
}
    
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
  border: 2px solid rgb(0, 0, 0);
  padding: 2px;
  height: 35px;
  margin-left: -1px;
}
/*================  End Style File Upload Button =======================*/ 


    


.navbar-default {
    background-color: #ffffff;
    border: none;   
    margin-bottom: 60px;
}




.navbar-ub {
	margin-top: 60px;
	padding-right: 15px;
}


.dropdown-menu-ub {
	padding-right:0;
	background: #dedede;
}

.dropdown-menu-ub > li {
	background: #dedede;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background: #dedede;
}

	.dropdown-menu-ub: li:hover {
		background: #e8e8e8;
	}



	.navbar-ub > li
	{
		padding: 10px 10px;
		background: #d4d4d4;
	}
	
	
	.navbar-ub > li:hover {
		background: #dedede;
	}
	
		.navbar-default .navbar-nav > li > a,
		.dropdown-menu-ub > li > a
		 {
			font-size: 16pt;
			color: #333;
		}
		
	 {
		background: #dedede;
	}
	
	
/*******************  Category Sidebar **************************/	

.category-row{
	display: block;
	width: 100%;
	background: #ffffff;
	color: #000000;
}

.category-active{
	background: #000000;
	color: #ffffff;
}

/*================  End Category Sidebar =======================*/ 
	
	

/*************** bootstrap collapse toggle ****************/
	
	#header-container{
    	margin-bottom: 0px;
    }
    
    #header-border{
    	border-bottom: solid 2px black;
    	/*margin-left: -2%;
    	margin-right: -2%;*/
    	
    	margin-bottom: 20px;
    	margin-top: 10px;
    }
    
	#ub-header{
		background: #ffffff; 
		padding: 3% 2%;  /* match with container-masonry */
		padding-bottom: 30px;
		
	}
	
		.logo{
			float: left;
			width: 70%;
		}
		
		.header-button{
			margin-left: 2%; 
			margin-top: 20px;
			float: right;
		}
		
	
	.menu-content, .filter-content{
		padding: 2% 15px;
		padding-bottom: 4%;
		margin: 0px;
	}	
		
		.menu-content{
			background: #ffffff;
			color: #000000;
		}
		
		ul.menu-content{
			list-style-type: none;
		}
		
		ul.menu-content > li{
			display: inline;
		} 
		
		.filter-content{
			background: #ffffff;
			color: #000000;
		}
	
	.h-filter{
		font-size: 25px;
		margin-top: 10px;
	}
	
	.btn-filter{
		display: block;
		width: 100%;
	}
	
	
	.navbtn-filter, .navbtn-menu{
		cursor:pointer;
	  	padding:0px;
		width: 40px;
		height: 40px;
		border-radius: 5px;     
		padding: 0px 0px;
		color: #FFF;
		transition: all 0.3s ease 0s;
	}
	
		.navbtn-filter{
			background: #ffffff;
		}
		.navbtn-filter:hover{
			background: #dedede;
		}
	
		.navbtn-menu{
			background: #ffffff;
		}
		.navbtn-menu:hover{
			background: #dedede;
		}







@media (min-width: 768px) {
	
	body {
	  /* Margin bottom by footer height */
	  margin-bottom: 200px;
	}
	.footer {
	  /* Set the fixed height of the footer here */
	  height: 120px;
	  padding: 20px;
	  text-align: left;
	}

	
	.container-sidebar{
		width: 100%;
	}
	.container-content{
		width: 100%;
	} 
	 
    
    #header-border{
    	border-bottom: solid 3px black;
    	
    	margin-bottom: 30px;
    	margin-top: 10px;
    }
	
	#ub-header{
		padding: 3% 40px;  /* match with container-masonry */
	}
	
		.logo{
			float: left;
			width: 60%;
		}
		
		.header-button{
			margin-left: 30px; 
			margin-top: 50px;
			float: right;
		}
	
	.h-filter{
		font-size: 30px;
		margin-top: 10px;
		text-align: center;
	}
	
	
		
	.navbtn-filter, .navbtn-menu{
		width: 60px;
		height: 60px;
		border-radius: 10px; 
	}
	
	.filter-content, .menu-content{
		padding: 8px 40px;
		padding-bottom: 20px;
	}
	
	
}


@media (min-width: 992px) {
	#ub-header{
		
		padding: 10px 60px;  /* match with container-masonry */
		
		padding-bottom: 30px;
	}
	
	
	
	.container-sidebar{
		width: 192px;
	}
	.container-content{
		width: 84%;
	} 
	
		.logo{
			float: left;
			width: auto;
		}
		
		.header-button{
			margin-left: 50px; 
			margin-top: 50px;
			float: right;
		}
		
		.filter-content, .menu-content{
			padding: 8px 30%;
			padding-bottom: 20px;
			
		}

	.btn-category{
		padding: 3px 12px;
}

@media (min-width: 1200px ){
	
	.container-sidebar{
		width: 192px;
	}
	.container-content{
		width: 88%;
	} 
	
	#ub-header{
		
		padding: 10px 100px;  /* match with container-masonry */
		
		padding-bottom: 30px;
	}
	
}



/*============== bootstrap collapse toggle ==============*/


/************************ NAVBAR SILDER DROPDOWN ***********************/
#menu-toggle {
  position:absolute;
  appearance:none;
  cursor:pointer;
  left: -100%;
  top: -100%;
  background:url('./img/menu.png') no-repeat;
}

#menu-toggle + label {
  position:absolute;
  cursor:pointer;
  padding:0px;
  background: transparent;
width: 80px;
height: 80px;
border-radius: 10px;
padding: 0px 0px;
color: #FFF;
line-height:20px;
font-size:12px;
text-align:center;
-webkit-font-smoothing: antialiased;
cursor: pointer;
  margin:20px 50px;
  transition:all 500ms ease;
}

#menu-toggle + label:after {
  content: url('./img/menu.png');
}

#menu-toggle:checked ~ .message {
  top: 0;
}

#menu-toggle:checked ~ .container {
  margin-top: 250px;
}

#menu-toggle:checked + label {
  background:#dd6149;
}

#menu-toggle:hover,
#menu-toggle:checked + label:after {
  content: url('./img/menu.png');
}









/* ==================================================================== */

	
	
	/*
	.container-fluid {
		padding-right: 0; 
	}
	*/
	
	






/**********************************  ITEM  *****************************************/


.item-photo{
	width: 100%;
	margin-bottom: 8px;	
}

.item-photo-thumbnail{
	width: 60px;
	height: 60px;
	margin-right: 12px;
}
.item-heading, .item-heading > a {
	font-size: 21pt;
	font-style: strong;
	color: #333;
	text-decoration: none;
}

.item-heading > a:hover {
	color: #777;
}

h4.item-brief{
	margin-top: 5px;
	margin-bottom: 5px;
}

.item-price {
	font-size: 2.2em;
}

.item-description {
	margin-top:20px;
	margin-bottom: 20px;
}

.item-details-heading{
	text-align: center;
}



.category-group-box {
	border: 1px solid #333;
	padding: 10px;
	margin-bottom: 20px;
	
}
	.category-group-box >h3{
		margin-top: 0;
	}

.item-category{
	background-color: #dedede;
	font-size: 16pt;
	color: #333;
	text-align: center;
	padding: 2px 3px;
	margin-bottom:8px;
}


.item-list{
	margin-top: 12px;
	display:block;
}

.item-expiration{
	
}


/*
.item-cg{
	background-color: #d4d4d4;
	font-size: 16pt;
	color: #333;
	text-align: right;
	width: 50%;
	float: left;
}

.item-cat{
	background-color: #dedede;
	font-size: 16pt;
	color: #333;
	text-align: left;
	width: 50%;
	float: left;
}
*/

.cg-hh{
	background-color: #31B0D5;
}
.cat-kit{
	background-color: #5BC0DE;
}


.cg-tools{
	background-color: #D9534F;
}
/*------------------------------  END ITEM  ---------------------------------------*/




/*-----------------------------     MAP    ---------------------------------------*/
	#map-canvas {
		/* for wide: 1.6 ratio */
        height: 300px;
        width: 480px;
        margin: 0px;
        padding: 0px
      }
      
      .map-lg {
      	height: 600px;
      	width: 960px;
      }
      
     .map-md {
      	height: 267px !important;
      	width: 393px !important;
      	
      	height: 270px !important;
      	width: 360px !important;
      }
      
