<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Alerts e.g. approaching your limit</title>
<link href="styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">

<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" width="600">
			<div class="content">
				<table class="main" width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td class="content-block">
							<img src="{{asset('img/logo-web-black.png')}}" alt="Uncle Bucks logo"/>
						</td>
					</tr>
					<tr>
						<td class="alert alert-ub">
							Welcome to Uncle Bucks: Helping Neighbors Rent From Neighbors
						</td>
					</tr>
					<tr>
						<td class="content-wrap">
							<table width="100%" cellpadding="0" cellspacing="0">
								<tr>
									<td class="content-block">
										A big rootin' tootin’ thank you for creating an account with Uncle Bucks. Now you are ready to post items for your neighbors to rent! 
									</td>
								</tr>
								<tr>
									<td class="content-block">
										Each item you post will be listed on Uncle Bucks for 1 month, but you can always set your items to AutoRenew. You can easily manage your items and contact preferences at any time! Just login to <a href="http://unclebucks.co/auth/login"></a>Uncle Bucks</a> and clicking the "My Account" button. We're happy you've joined the Uncle Bucks neighborhood. Don't forget to invite your family and friends. Everybody is welcome here!
									</td>
								</tr>
								<tr>
									<td class="content-block">
										<a href="http://unclebucks.co/auth/login" class="btn-ub">Manage My Uncle Bucks Account</a>
									</td>
								</tr>
								
								<tr>
									<td class="content-block fine-print">
										You're receiving this email because an account was just created at UncleBucks.co with this email address. If you did not create this acount, or you think this email was sent in error, please contact us at <a href="mailto:info@unclecbucks.co">info@unclebucks.co</a> and let us know how we can help you. 
									</td>
								</tr>
								
							</table>
						</td>
					</tr>
				</table>
				<div class="footer">
					<table width="100%">
						<tr>
							<td class="aligncenter content-block">You received this email because an account was just created at UncleBucks.co with this email address. If you did not create this acount, or you think this email was sent in error, please contact us at <a href="mailto:info@unclecbucks.co">info@unclebucks.co</a> and let us know how we can help you. </td>
						</tr>
					</table>
				</div></div>
		</td>
		<td></td>
	</tr>
</table>

</body>
</html>
